sup {
  font-size: 8px;
  vertical-align: super;
}

button {
  background: none;
  border: none;
  text-transform: inherit;
  text-align: inherit;
  padding: inherit;
  font: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}