<configuration>
  <system.webServer>
		<staticContent>
			<remove fileExtension=".otf" />
			<mimeMap fileExtension=".otf" mimeType="application/font-otf" />

			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="application/mp4" />

			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
  </system.webServer>
</configuration>
