$black: #000000;
$black-transparent: rgba(0,0,0,.75);
$white: #FFFFFF;
$gray: rgb(221, 221, 221);
$dark-gray: #222222;

$red: #ED1C24;
$dark-red: #FF2D16;
$yellow: #FFD938;
$blue: #094494;
$orange: #FFB13E;
$dark-orange: #FF9027;
